@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.App{
    display: flex;
    flex-direction: column;
    background-color: #15202B;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    font-family: 'Roboto', sans-serif;



}
p, span{
    color: #FFFF;
    font-size: 16px;
    word-break: break-word;
    text-align: justify;
}
.navBar{
    display: flex;
    justify-content: center;
}
.centerNav{
    width: 56%;
    background-color: #343A40;;
    display: flex;
    height: 58px;
    border-radius: 6px;

}
.float-right{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.button{
    margin-left: 30px;
    
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.button a {
    position: relative;
    top: 25%;
   
}
.button a:active{
    color: #FFFF;
}
.is-Active{
    color: #FFFF;

}
.messageArea{
    display: flex;
    flex-direction: column;
}
.messageArea h5{
    color: #FFFF;
}
.errorMessage{
    display: inline-block;
    background-color: #F8D7DA;
    border: 1px solid #F5C6CB;
    border-radius: 4px;
    position: absolute;
    padding: 7px 4px;
    left: 16px;
    bottom: 20px;
}
.errorMessage h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;

color: #721C24;
}
.bubbleWrapper{
    background-color: #343A40;
    border-radius: 6px;
    min-height: 84px;
    width: 600px;
    margin-top: 15px;
    padding: 20px 20px 20px 5px;
    display: flex;
    /* flex-direction: column; */
    box-sizing: border-box;
}
.image-bubble{
width: 50px;
margin-right: 5px;
}
.image-bubble img{
    width: 50px;
    position: relative;
    left: 0px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    
}
.data-bubble{
flex-grow: 1;
}
.bubbleSection{
    display: flex;
    justify-content: space-between;

}
.bubbleDetails span{
    color: #6C757D;
}

.mainWrapper{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    width: 100%;
    overflow: hidden;
    outline: none;
    resize: none;
    background-color: #15202B;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #CCCCCC;
    
}
textarea::placeholder{
    color: #CCCCCC;
}
.messageInput{
    position: relative;
    width: 600px;
    height: 180px;
    padding: 25px 16px;
   
}
.inputBox{
    box-sizing: border-box;
    border: 2px solid #CCCC;
    border-radius: 6px;
}
.btn{
    width: 68px;
    height: 34px;
    background: #007BFF;
    border: none;
    border-radius: 4px;
    color: #FFFF;
    font-family: 'Roboto', sans-serif;
    

}
.submitTweet{
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.submitTweet:disabled{
    color: gray;
}
.flexRight{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
