.App{
    display: flex;
    flex-direction: column;

}
.navBar{
    display: flex;
    justify-content: center;
}
.centerNav{
    width: 56%;
    background-color: chocolate;
    display: flex;
    height: 40px;
    border-radius: 3px;

}
.button{
    margin-left: 30px;
}
.messageArea{
    display: flex;
    flex-direction: column-reverse;
}
.bubble{
}
.mainWrapper{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    width: 600px;
    height: 180px;
}
.messageInput{
    position: relative;
}
.submitBtn{
    position: absolute;
    bottom: 11px;
    right: 30px;
}

